<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="../CSS/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Stocks | Buy Stocks</title></head>
<body>
  <div class="container text-center">
    <h1 class="mt-3"><a href="/buy-stocks" style="color: blueviolet;"><img src="../images/logo.png" alt=""></a></h1>
    <h6 style="position: absolute; top: 35px;">Welcome <span style="color: blueviolet;"><%= phoneNo %></span></h6>

    <div style="position: absolute; right: 50px; top: 35px;">
      <h5>Stocks In Portfolio: </h5>
      <table>
        <tr>
          <td id="stockName"><span id="name_of_stock">No Stock Purchased</span>: ₹</td>
          <td id="stockNum"> 0</td>
        </tr>
      </table>
    </div>

    <div class="d-flex mb-5 mt-5">
      <div class="s-detail mt-5" style="position: relative; left: 39px;">
        <h5><%= Sname %></h5>
        <hr>
        <h3>₹ <%= Sprice %></h3>
        <button class=" mt-2 btn btn-success" id="buy">BUY</button>
        <button class="mt-2 btn btn-danger" id="sell">SELL</button>
      </div>
      <div class="s-info" style="margin-left: 10%;">
        <div id="info-head">
          <h6><%= Sname %> Quick Overview</h6>
        </div>
        <table style="width: 350%; height: 110%;">
          <tr>
            <td>Market Cap</td>
            <td><%= Scap  %> Crore</td>
          </tr>
          <tr>
            <td>Open</td>
            <td>₹ <%= Sopen %></td>
          </tr>
          <tr>
            <td>Volume</td>
            <td><%= Svol %></td>
          </tr>
          <tr>
            <td>Avg. traded</td>
            <td>₹ <%= Savg %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <script src="../JS/stock.js"></script>
</body>
</html>